server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:db}:${POSTGRES_PORT:5432}/${POSTGRES_DB:tp_micro}
    username: ${POSTGRES_USER:tp_user}
    password: ${POSTGRES_PASSWORD:tp_pass}
  jpa:
    hibernate:
      ddl-auto: none

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

